@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization
@inject  IAuthorizationService authorizationService

@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mt-3 mb-3" style="width:auto" asp-controller="Administration" asp-action="CreateRole">Create new Role</a>

    foreach (var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Role id : @role.Id
            </div>
            <div class="card-body">
                <div class="card-title">
                    Role Name : @role.Name
                </div>
            </div>
            <div class="card-footer">

                @if((await authorizationService.AuthorizeAsync(User,"EditRolePolicy")).Succeeded)
                { 
                    <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                }

                <form method="post" asp-action="DeleteRole" asp-controller="Administration" asp-route-Id="@role.Id">
                    <span id="confrimDelete_@role.Id" style="display:none">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" onclick="confrimDelete('@role.Id',false)" class="btn btn-danger">No</a>
                    </span>

                    <span id="delete_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confrimDelete('@role.Id',true)">Delete</a>
                    </span>
                </form>
            </div>

        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No role created yet
        </div>
        <div class="card-body">
            <h1>
                use th buttom to create role
            </h1>

            <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">Create new Role</a>

        </div>
    </div>
}

@section Scripts{
    <script src="~/js/Custom.js"></script>
}


