@model  List<UserRolesViewModel>


@{
    ViewData["Title"] = "ManageUserRoles";
}

<h1>ManageUserRoles</h1>
<form method="post">
    <div class="col-sm-12 card">
        <div class="card-header">
            Manage User Roles
        </div>
        <div class="card-body">
            @if (Model.Any())
            {
                @for(int i=0;i<Model.Count;i++)
                {
                <div class="form-check mt-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input class="form-check-input" asp-for="@Model[i].isSelected" />
                    <label class="form-check-label" asp-for="@Model[i].isSelected">
                        @Model[i].RoleName
                    </label>
                </div>
                }
                <div class="text-danger" asp-validation-summary="All"></div>
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" style="width:auto" class="btn btn-primary" asp-controller="Administration" asp-action="ManageUserRoles" asp-route-userId="@ViewBag.userId"/>
            <a  style="width:auto" class="btn btn-primary" asp-controller="Administration" asp-action="EditUser" asp-route-Id="@ViewBag.userId">Cancel</a>
        </div>
    </div>

</form>


