@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>

<div class="row">
    <div class="col-md-12">
        
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Email" />
            <input type="hidden" asp-for="@Model.Token" />
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <input type="password" value="Password" asp-for="@Model.Password" />
                <span class="text-danger" asp-validation-for="@Model.Password"></span>
            </div>
            <div>
                <label asp-for="@Model.ConfrimPassword"></label>
                <input type="password" value="Password" asp-for="@Model.ConfrimPassword" />
                <span class="text-danger" asp-validation-for="@Model.ConfrimPassword"></span>
            </div>
            <button class="btn btn-primary" type="submit">Reset</button>
        </form>
    </div>
</div>

